*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.public {
	color: green;
	font-size: 115%;
}

div.form-control {
  display: block;
  width: 100%;
  height: inherit;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


div.latin.editable span.invariant,
span.latin-help.invariant {
  color: black;
  border: 0.2em solid green;
  border-radius: 0.5em;
}
div.latin.editable span.locatif,
span.latin-help.locatif {
  color: black;
  border-bottom: 0.2em dotted black;
}
div.latin.editable span.nominatif,
span.latin-help.nominatif {
  color: black;
  border-bottom: 0.2em solid black;
}
div.latin.editable span.vocatif,
span.latin-help.vocatif {
	color: black;
	border-bottom: 0.2em dotted black;
}
div.latin.editable span.verbe,
span.latin-help.verbe {
  color: red;
  border: 0.2em solid red;
}
div.latin.editable span.accusatif,
span.latin-help.accusatif {
  color: blue;
  border-bottom: 0.2em solid blue;
}
div.latin.editable span.ablatif,
div.latin.editable span.genitif,
div.latin.editable span.datif,
span.latin-help.ablatif,
span.latin-help.genitif,
span.latin-help.datif {
  color: green;
  border-bottom: 0.2em solid green;
}
div.latin.editable span.inconnu {
  color: purple;
  border: 0.4em dotted purple;
}
div.latin.editable span.infinitif,
span.latin-help.infinitif {
  color: red;
  border-bottom: 0.2em dotted red;
}

div.latin.latin-display {
	font-size: 2em;
}

div.latin div.latin-block {
	cursor: pointer;
	top: 2em;
	display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  vertical-align: top;
  padding: 1px;
}

div.latin div.latin-block.latin-hidden:hover {
	border: 1px dotted gray;
	padding: 0px;
}

div.latin div.latin-block div.content {
  text-align: center;
}

div.latin div.latin-block div.comment {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
	font-size: 0.5em;
	text-align: center;
}

div.latin div.latin-block.latin-hidden>div.comment {
	color: white;
}

div.latin.latin-display div.latin-block.latin-display>div.invariant {
  color: black;
  border: 0.2em solid green;
  margin: -0.2em;
  border-radius: 0.5em;
}
div.latin.latin-display div.latin-block.latin-display>div.locatif {
  color: black;
  border-bottom: 0.2em dotted black;
  margin-bottom: -0.2em;
}
div.latin.latin-display div.latin-block.latin-display>div.nominatif {
  color: black;
  border-bottom: 0.2em solid black;
  margin-bottom: -0.2em;
}
div.latin.latin-display div.latin-block.latin-display>div.vocatif {
  color: black;
  border-bottom: 0.2em dotted black;
  margin-bottom: -0.2em;
}
div.latin.latin-display div.latin-block.latin-display>div.verbe {
  color: red;
  border: 0.2em solid red;
  margin: -0.2em;
}
div.latin.latin-display div.latin-block.latin-display>div.accusatif {
  color: blue;
  border-bottom: 0.2em solid blue;
  margin-bottom: -0.2em;
}
div.latin.latin-display div.latin-block.latin-display>div.ablatif,
div.latin.latin-display div.latin-block.latin-display>div.genitif,
div.latin.latin-display div.latin-block.latin-display>div.datif {
  color: green;
  border-bottom: 0.2em solid green;
  margin-bottom: -0.2em;
}
div.latin.latin-display div.latin-block.latin-display>div.infinitif {
  color: red;
  border-bottom: 0.2em dotted red;
  margin-bottom: -0.2em;
}
div.latin.latin-display div.latin-block.latin-display>div.inconnu {
  color: purple;
  border: 0.4em dotted purple;
  margin: -0.4em;
}
