div.navbar {
	display: none;
}

div.latin-btn-types {
	display: none;
}

div.latin {
	font-size: 12px;
}
div.latin div.latin-block {
  cursor: pointer;
  top: 1em;
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  vertical-align: top;
  padding: 1px;
}

div.latin div.latin-block div.content {
  text-align: center;
}

div.latin div.latin-block div.comment {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.5em;
  text-align: center;
}

div.latin div.latin-block>div.invariant {
  color: black;
  border: 0.2em solid green;
  margin: -0.2em;
  border-radius: 0.5em;
}
div.latin div.latin-block>div.locatif {
  color: black;
  border-bottom: 0.2em dotted black;
  margin-bottom: -0.2em;
}
div.latin div.latin-block>div.nominatif {
  color: black;
  border-bottom: 0.2em solid black;
  margin-bottom: -0.2em;
}
div.latin div.latin-block>div.vocatif {
  color: black;
  border-bottom: 0.2em dotted black;
  margin-bottom: -0.2em;
}
div.latin div.latin-block>div.verbe {
  color: red;
  border: 0.2em solid red;
  margin: -0.2em;
}
div.latin div.latin-block>div.accusatif {
  color: blue;
  border-bottom: 0.2em solid blue;
  margin-bottom: -0.2em;
}
div.latin div.latin-block>div.ablatif,
div.latin div.latin-block>div.genitif,
div.latin div.latin-block>div.datif {
  color: green;
  border-bottom: 0.2em solid green;
  margin-bottom: -0.2em;
}
div.latin div.latin-block>div.infinitif {
  color: red;
  border-bottom: 0.2em dotted red;
  margin-bottom: -0.2em;
}
div.latin div.latin-block>div.inconnu {
  color: purple;
  border: 0.4em dotted purple;
  margin: -0.4em;
}
