@(latinText: play.api.data.Form[models.LatinText])

@main(latinText("id").value.fold("Créer un texte")(_ => "Éditer le texte : " + latinText("title").value.get)) {
  <div class="row">
    <div class="col-md-12">
      @if(latinText.hasGlobalErrors) {
        <div class="alert alert-danger">
          <ul>
            @for(error <- latinText.globalErrors) {
              <li>@error.message</li>
            }
          </ul>
        </div>
      }

      @helper.form(action = routes.Application.save, args = 'method -> "post") {
        <input type="hidden" name="id" value="@latinText("id").value" />
        <div class="form-group @if(latinText("title").hasErrors) {has-error}">
          <label for="title">Titre</label>
          <input type="text" class="form-control" name="title" value="@latinText("title").value.getOrElse("")" />
          @if(latinText("title").hasErrors) {
            <span class="help-block">@latinText("title").errors.map(_.message).mkString(", ")</span>
          }
        </div>
        <div class="form-group @if(latinText("content").hasErrors) {has-error}">
          <label for="content">Texte</label>
          <input type="hidden" name="content" id="content">
          <div id="tempMyTextArea" class="form-control latin editable" contenteditable="true">@play.twirl.api.Html(latinText("content").value.getOrElse("Ad quam fertur optimus quisque veramque illam honestatem expetens quam unam natura maxmie anquirit,..."))</div>
          <span class="help-block">Sélectionner à la souris pour entrer un type pour la sélection, ou Alt+C si la sélection est au clavier.</span>
          @if(latinText("content").hasErrors) {
            <span class="help-block">@latinText("content").errors.map(_.message).mkString(", ")</span>
          }
        </div>
        <div class="form-group">
          <label for="comment">Commentaire</label>
          <textarea name="comment" class="form-control">@latinText("comment").value.getOrElse("comment")</textarea>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="public" name="public" value="true" @if(latinText("public").value == Some("true")){checked="checked"}> Ce texte est publiquement visible si coché.
          </label>
        </div>
       <button type="submit" class="btn btn-primary">Enregistrer</button>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-10">
       @latinText("id").value.map(_.toLong).fold{
         <p></p>
       }{ latinTextId => 
        <button data-toggle="modal" data-target="#myModal" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true" /> Supprimer</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Attention !</h4>
              </div>
              <div class="modal-body">
                Êtes-vous sûr(e) de vouloir supprimer <em>@latinText("title").value.get</em> ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="@routes.Application.delete(latinTextId)" class="btn btn-danger">Supprimer</a>
              </div>
            </div>
          </div>
        </div>
       }
     </div>
  </div>
} {
  <script type="text/javascript" src="@routes.Assets.at("/javascripts/rangy/rangy-core.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("/javascripts/rangy/rangy-classapplier.js")"></script>

  <script type="text/javascript" src="@routes.Assets.at("/javascripts/wysiwyg.js")"></script>
  <script type="text/javascript">
    wysiwyg("tempMyTextArea");
    $('#tempMyTextArea').parents('form').on('submit', function(){
      $('#tempMyTextArea span')
        .removeAttr('title')
        .removeAttr('class');
      $('#content').val($('#tempMyTextArea').html());
    });
  </script>
}