@()

@main("Aide - Latin") {
  <div class="row">
    <div class="col-md-12">
      <h1>Aide</h1>
      <div class="row">
        <div class="col-md-3">
          <h2>Couleurs et symboles</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><span class="latin-help verbe">Verbes conjugués à un mode personnel</span></td>
              </tr>
              <tr>
                <td><span class="latin-help infinitif">Verbes à l'infinitif</span></td>
              </tr>
              <tr>
                <td><span class="latin-help nominatif">Nominatif</span></td>
              </tr>
              <tr>
                <td><span class="latin-help vocatif">Vocatif</span></td>
              </tr>
              <tr>
                <td><span class="latin-help accusatif">Accusatif</span></td>
              </tr>
              <tr>
                <td><span class="latin-help genitif">Génétif</span></td>
              </tr>
              <tr>
                <td><span class="latin-help datif">Datif</span></td>
              </tr>
              <tr>
                <td><span class="latin-help ablatif">Ablatif</span></td>
              </tr>
              <tr>
                <td><span class="latin-help invariant">Mot invariable</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <h2>Abréviations</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Mot</th>
                <th>Abréviation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2" class="text-center">Cas</td>
              </tr>
              <tr>
                <td>Nominatif</td>
                <td>Nom</td>
              </tr>
              <tr>
                <td>Vocatif</td>
                <td>Voc</td>
              </tr>
              <tr>
                <td>Accusatif</td>
                <td>Acc</td>
              </tr>
              <tr>
                <td>Génitif</td>
                <td>Gén</td>
              </tr>
              <tr>
                <td>Datif</td>
                <td>Dat</td>
              </tr>
              <tr>
                <td>Ablatif</td>
                <td>Abl</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">Genre</td>
              </tr>
              <tr>
                <td>Masculin</td>
                <td>masc</td>
              </tr>
              <tr>
                <td>Féminin</td>
                <td>fém</td>
              </tr>
              <tr>
                <td>Neutre</td>
                <td>n</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">Nombre</td>
              </tr>
              <tr>
                <td>Singulier</td>
                <td>sg</td>
              </tr>
              <tr>
                <td>Pluriel</td>
                <td>pl</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">Mode</td>
              </tr>
              <tr>
                <td>Indicatif</td>
                <td>Indic</td>
              </tr>
              <tr>
                <td>Impératif</td>
                <td>Impé</td>
              </tr>
              <tr>
                <td>Subjonctif</td>
                <td>Subj</td>
              </tr>
              <tr>
                <td>Participe</td>
                <td>Part</td>
              </tr>
              <tr>
                <td>Infinitif</td>
                <td>Inf</td>
              </tr>
              <tr>
                <td>Gérondif</td>
                <td>Gérondif</td>
              </tr>
              <tr>
                <td>Supin</td>
                <td>Supin</td>
              </tr>
              <tr>
                <td>Adjectif Verbal</td>
                <td>Adj Verbal</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">Temps</td>
              </tr>
              <tr>
                <td>Présent</td>
                <td>prés</td>
              </tr>
              <tr>
                <td>Imparfait</td>
                <td>imparf</td>
              </tr>
              <tr>
                <td>Futur</td>
                <td>fut</td>
              </tr>
              <tr>
                <td>Parfait</td>
                <td>parf</td>
              </tr>
              <tr>
                <td>Plus-Que-Parfait</td>
                <td>plus que parf</td>
              </tr>
              <tr>
                <td>Futur Antérieur</td>
                <td>fut ant</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center">Voix</td>
              </tr>
              <tr>
                <td>Active</td>
                <td>Actif</td>
              </tr>
              <tr>
                <td>Passive</td>
                <td>Passif</td>
              </tr>
              <tr>
                <td>Déponent</td>
                <td>Dép</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
} {

}